// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-rangoon-green: #191919;
$color-white: #fff;
$color-raw-sienna: #d87d4a;
$color-alabaster: #fafafa;
$color-seashell: #f1f1f1;
$color-black: #000;
$color-onyx: #101010;

// ********** FONT-FAMILY **********
$font-manrope: "Manrope", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-bold: 700;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  // background:
  // font-family:
}

html,
body {
  height: 100%;
}
