*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100%;
}

.main-footer {
  position: relative;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-9.1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-9.1rem);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 2.4rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.104);
  position: relative;
}
.header__hamburger, .header__cart {
  display: block;
}

.logo {
  display: block;
}

.hero {
  width: 100%;
  max-width: 100vw;
  height: 51rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 9.1rem;
}
.hero__img {
  display: block;
  max-width: 100%;
  position: absolute;
  top: -9.2rem;
}
.hero__content {
  position: relative;
  z-index: 10;
  margin-top: 10.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__new {
  color: rgba(255, 255, 255, 0.4964);
  font-size: 1.4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.hero__product {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.1286rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.hero__about {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 32.8rem;
  margin-bottom: 2.8rem;
}
.hero + .sections-container .categories {
  margin-bottom: 12rem;
}

.product-btn {
  width: 16rem;
  height: 4.8rem;
  display: block;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
}

.sections-container {
  padding: 0 2.4rem;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
}

.category {
  max-width: 32.7rem;
  height: 16.5rem;
  border-radius: 0.8rem;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.category__img {
  display: block;
  position: absolute;
}
.category:nth-child(1) img {
  transform: translateY(-5.2rem);
}
.category:nth-child(2) img {
  transform: translateY(-5.1rem);
}
.category:nth-child(3) img {
  transform: translateY(-5.1rem);
}
.category__name-shop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  margin-top: 8.8rem;
}
.category__name {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1071rem;
  text-transform: uppercase;
}
.category__shop-icon {
  display: flex;
  gap: 1.332rem;
  align-items: center;
}
.category__shop {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.category__right-icon {
  display: block;
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 11.7rem;
}
.featured__product {
  max-width: 32.7rem;
  border-radius: 0.8rem;
  padding: 0 2.4rem;
}
.featured__product:nth-child(1) {
  height: 60rem;
  background: #d87d4a;
  position: relative;
  overflow: hidden;
}
.featured__product:nth-child(1) .featured__product-name {
  color: #fff;
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: 0.1286rem;
  text-align: center;
  z-index: 10;
}
.featured__product:nth-child(1) .featured__product-img {
  display: block;
  width: 16.2rem;
  position: absolute;
  left: 50%;
  top: 6.2rem;
  transform: translateX(-50%);
}
.featured__circles {
  display: block;
  width: 55.8rem;
  position: absolute;
  left: -11.6rem;
  top: -12rem;
}
.featured__name-about-btn {
  margin-top: 29.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.featured__product-name {
  font-weight: 700;
  text-transform: uppercase;
}
.featured__product-about {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  z-index: 10;
}
.featured__product:nth-child(2) {
  background-image: url(../../public/assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
  height: 32rem;
}
.featured__product:nth-child(2) .featured__product-name {
  color: #000;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}
.featured__product:nth-child(2) .featured__name-btn {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 10rem;
}
.featured__img-name {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}
.featured__img-name .featured__product-img {
  display: block;
  border-radius: 0.8rem;
  max-width: 32.7rem;
}
.featured__img-name .featured__name-btn {
  max-width: 32.7rem;
  height: 20rem;
  border-radius: 0.8rem;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 2.4rem;
}
.featured__img-name .featured__name-btn .featured__product-name {
  margin-top: 4.1rem;
  color: #000;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}

.about {
  margin-bottom: 12rem;
}
.about__img {
  display: block;
  border-radius: 0.8rem;
  max-width: 32.7rem;
  margin-bottom: 3.7rem;
}
.about__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3.2rem;
}
.about__header {
  color: #000;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.about__header--orange {
  color: #d87d4a;
}
.about__audiophile {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.footer {
  height: 65.4rem;
  background: #101010;
  padding: 0 2.4rem 3.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}
.footer__border {
  width: 10.1rem;
  height: 0.4rem;
  background: #d87d4a;
}
.footer__logo-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}
.footer__about-copyright-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}
.footer__about {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.footer__copyright-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.footer__socials {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.footer__social-icon {
  display: block;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.nav__link {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.products__header {
  background: #000;
  padding: 3.2rem 8.4rem;
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.previews {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  margin-bottom: 17.2rem;
}
.previews + .categories {
  margin-bottom: 12rem;
}
.previews .preview {
  text-align: center;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.preview__img {
  display: block;
  max-width: 32.7rem;
  border-radius: 0.8rem;
}
.preview__info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.preview__new {
  color: #d87d4a;
  font-size: 1.4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
.preview__name {
  color: #000;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.preview__description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.preview .product-btn {
  margin: 0 auto;
}

.sections-container:has(.back-btn) {
  padding-top: 1.6rem;
}

.sections-container .back-btn + .preview {
  margin-bottom: 8.8rem;
}

.back-btn {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2.4rem;
}

.detail__price-quantity-cart {
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}
.detail__price {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1286rem;
  text-transform: uppercase;
}
.detail__quantity-cart {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.detail__cart {
  height: 4.8rem;
  background: #d87d4a;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0 3.05rem 0 3.45rem;
}
.detail__features-box {
  display: flex;
  flex-direction: column;
  gap: 8.8rem;
  margin-bottom: 8.5rem;
}

.quantity {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 4.8rem;
  width: 12rem;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.quantity__decrement-increment {
  color: rgba(0, 0, 0, 0.25);
  width: 1.6rem;
  display: flex;
  justify-content: center;
}
.quantity__value {
  color: #000;
  width: 1.6rem;
  display: flex;
  justify-content: center;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.features__header {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.0857rem;
  text-transform: uppercase;
}
.features__text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
  white-space: pre-line;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.box__header {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.0857rem;
  text-transform: uppercase;
}
.box__includes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.box__quantity-item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.box__quantity {
  color: #d87d4a;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.box__item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 11.7rem;
}
.gallery__img {
  display: block;
  max-width: 32.7rem;
  border-radius: 0.8rem;
}

.recommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-bottom: 17.2rem;
}
.recommendations__header {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.0857rem;
  text-transform: uppercase;
}
.recommendations__container {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}
.recommendations + .categories {
  margin-bottom: 11.7rem;
}

.recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.recommendation__img {
  display: block;
  max-width: 32.7rem;
  border-radius: 0.8rem;
}
.recommendation__name {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.1714rem;
  text-transform: uppercase;
}

.cart {
  position: fixed;
  border-radius: 0.8rem;
  background: #fff;
  z-index: 999;
  top: 11.4rem;
  right: 2.4;
  max-width: 32.7rem;
  width: 100vw;
  padding: 3.1rem 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.cart__header-remove {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__header {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1286rem;
  text-transform: uppercase;
}
.cart__remove {
  color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-decoration-line: underline;
  background: none;
  border: none;
}
.cart__items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__item .quantity {
  max-width: 9.6rem;
  height: 3.2rem;
}
.cart__item-img-name {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.cart__item-img {
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 0.8rem;
}
.cart__item-name-price {
  display: flex;
  flex-direction: column;
}
.cart__item-name {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.cart__item-price {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.cart__total-checkout {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.checkout {
  max-width: 32.7rem;
  border-radius: 0.8rem;
  background: #fff;
  padding: 2.4rem 2.4rem 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.checkout-summary {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 9.7rem;
}
.checkout__header {
  color: #000;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.checkout__form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.inputs__category {
  color: #d87d4a;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.0929rem;
  text-transform: uppercase;
}
.inputs__container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.inputs__container:has(.input__radios) {
  gap: 3.2rem;
}
.inputs__row {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.input:has(.input__radios) {
  gap: 1.7rem;
}
.input__label-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input__label {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.0214rem;
}
.input__error {
  color: #cd2c2c;
  font-size: 1.2rem;
  letter-spacing: -0.0214rem;
}
.input__input {
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #cfcfcf;
  background: #fff;
  padding: 0 2.4rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
  caret-color: #d87d4a;
  font-family: inherit;
}
.input__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
}
.input__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
}
.input__input:focus {
  border-color: #d87d4a;
  outline: none;
}
.input__radios {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.input__radio-label {
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #cfcfcf;
  background: #fff;
  padding: 0 2.4rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.input__radio-label:has(.input__radio:checked) {
  border-color: #d87d4a;
}
.input__radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.input__radio:checked + .input__radio-custom::after {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #d87d4a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input__radio-custom {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid #cfcfcf;
  position: relative;
}

.on-delivery__icon-text {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.on-delivery__icon {
  display: block;
}
.on-delivery__text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.summary {
  max-width: 32.7rem;
  border-radius: 0.8rem;
  background: #fff;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.summary__header {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1286rem;
  text-transform: uppercase;
}
.summary__items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.summary__quantity {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.summary__totals {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.summary__totals .label-value:last-child {
  margin-top: 1.6rem;
}
.summary__totals .label-value:last-child .label-value__value {
  color: #d87d4a;
}

.label-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-value__label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.label-value__value {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  background: #fff;
  padding: 3.2rem;
  max-width: 32.7rem;
  width: 100vw;
}
.modal__confirmation-icon {
  display: block;
  margin-bottom: 2.3rem;
}
.modal__header-subtext {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
.modal__header {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.0857rem;
  text-transform: uppercase;
}
.modal__subtext {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.modal__items-total {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-bottom: 2.3rem;
}
.modal__items {
  background: #f1f1f1;
  padding: 2.4rem 2.4rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.modal__items-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.modal__items-container .cart__item {
  align-items: start;
}
.modal__items-container .cart__item-img-name {
  align-items: start;
}
.modal__items-container .cart__item-img {
  width: 5rem;
  height: 5rem;
}
.modal__items-divider {
  background: rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 0.1rem;
}
.modal__items-view {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.0214rem;
  align-self: center;
}
.modal__total {
  background: #000;
  padding: 1.5rem 2.4rem 1.9rem;
}
.modal__total .label-value {
  flex-direction: column;
  align-items: start;
  justify-content: initial;
  gap: 0.8rem;
}
.modal__total .label-value__label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.modal__total .label-value__value {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}
.modal .action-btn {
  width: 100%;
}

.action-btn {
  height: 4.8rem;
  background: #d87d4a;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.menu {
  border-radius: 0 0 0.8rem 0.8rem;
  background: #fff;
  position: absolute;
  top: 9.1rem;
  left: 0;
  padding: 8.4rem 2.4rem 3.5rem;
  z-index: 999;
  width: 100vw;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  opacity: 0;
  transform: translateY(-9.1rem);
  pointer-events: none;
}

.header--rangoon-green {
  background: #191919;
}
.header--black {
  background: #000;
}

.overlay--visible {
  opacity: 1;
  pointer-events: all;
}
.overlay--fixed {
  position: fixed;
}

.menu--visible {
  animation: dropdown 0.5s ease forwards;
  pointer-events: auto;
}
.menu--hiding {
  animation: slideUp 0.5s ease forwards;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */